<link rel="stylesheet" class="aplayer-secondary-style-marker" href="/assets/css/APlayer.min.css"><script src="/assets/js/APlayer.min.js" class="aplayer-secondary-script-marker"></script>@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Asset');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

* { box-sizing: border-box; }
body{
  display:block;width:1005px;
  background-color: rgba(237, 222, 218,1);
}header{
  display:block;height:800px;
  background:url("backup.png");background-size:100%;background-repeat:no-repeat;
  box-shadow:100px 100px 60px 40px black;
  border:outset rgb(223,223,223) 7px;
  font-family:"Press Start 2P","Poppins";
}header>.logo{
  display:inline-block;
  font-size:100px;color:white;text-decoration:underline red;
  background:darkblue;background-image:url("cursor.png");background-repeat: no-repeat;background-size:70px 90px;background-position:450px 290px; 
  border-top:solid navy 20px;border-right:solid navy 20px;border-radius:6px;
  box-shadow:10px 10px rgba(50, 50, 50, 0.4);
  padding:20px 100px 320px 20px;
}	header nav{
  visibility:hidden;
}.slogan{
  position:relative;left:-520px;top:300px;
  display:inline-block;width:0px;
  color:white;font-family:"Press Start 2P","Poppins";
  padding-left:30px;
  border-left:dashed red 8px;
}header>.button{
  font-style:italic;color:white;display:inline-block;
  position:absolute;left:70px;top:410px;
  padding:35px 0px 5px 190px;
  background:rgba(225,0,0,0.5);
  border:solid darkred 2px;
}

.feature-items{
  position:relative;top:-706px;
}.features{
  display:inline-block;position:relative;height:700px;
  background:url("radio.png");background-repeat:no-repeat;background-blend-mode:lighten;
  background-position:500px -50px;background-size:800px 600px;
}.features::after {
  content: "";position: absolute;z-index: -1;   top: 0;left: 0;bottom: 0;right: 0;
  background: url("mountains.png");background-size:1100px 700px;background-blend-mode:lighten;background-repeat:no-repeat;
  opacity: 0.8;
}.features .section-heading{
  position:relative;top:-67px;height:700px;
}.features h1{
  padding:67px 0px;
  background:linear-gradient(to bottom right,rgba(230, 100, 101,0.6), rgba(145, 152, 229,0.5));background-repeat:no-repeat;
  background-size:600px 400px;background-position:360px 90px;background-color: rgba(237, 213, 207,0.7);
  font-size:100px;font-family:Asset,Montserrat Subrayada;color:rgba(0, 20, 225,0.7);
}.features h2{
  display:inline-block;
  -webkit-transform: rotate(-90deg);
  position:relative;left:30px;top:-30px;
  border:solid black 1px;background:rgba(255,255,255,0.5);
  font-size:35px;font-family:Cormorant Garamond;font-weight:bold;
}.features p{
  width:919px;display:inline-block;
  margin:36px 0px;padding-right:40px;
  font-family:Nanum Gothic Coding;font-size:22px;
  border-top:solid black 1px;border-bottom:solid black 1px;
}.features span{display:none;}.feature.third h2{padding-left:45px;}.feature.third p{padding-left:3px;}
.features .button{
  text-decoration:none;color:black;font-size:50px;text-shadow:7px 4px 3px rgba(0,0,0,0.4);
}

.sale .section-heading{
  display:block;margin-bottom:100px;letter-spacing:30px;font-size:50px;
}
.sale{
  position:relative;top:-670px;
  font-family:Nanum Gothic Coding;
  background-color:rgb(236,222,217);
}.sale .second,.sale .fourth{
  width:440px;width:250px;
}.sale img{
  width:250px;height:200px;
  border-right:inset rgba(0,0,0,0.3) 40px ;
  border-bottom:inset rgba(0,0,0,0.1) 40px ;
}
.sale .item{
  display:inline-block;
  width:250px;margin-bottom:-400px;
  margin-left:100px;
}.item-name{
  margin-bottom:200px;
  font-family:"Libre Barcode 39 Extended Text";font-weight:bold;font-size:50px;
}.item-details{
  position:relative;top:-300px;
}
.sale .first,.sale .third{
  color:black;-webkit-transform: skewY(-30deg); 

}.sale .second,.sale .fourth{
  padding-left:120px;position:relative;top:100px;
}.sale .fourth .item-details{
  position:relative;top:-350px;
}.sale .third{
  position:relative;top:-240px;
}.sale .button{
  padding:5px;text-decoration:none;color:black;margin-left:10px;
  box-shadow:-10px -10px rgb(198,188,183), -8px -8px rgb(198,188,183), -6px -6px rgb(198,188,183),-4px -4px rgb(198,188,183),-2px -2px rgb(198,188,183);
}.sale .fourth{
  position:relative;top:-50px;
}.sale .start-shopping{
  position:relative;top:-400px;
  font-size:40px;margin-left:100px;
}


.user-tips{
  position:relative;
  top:-1000px;
  display:block;height:600px;padding:70px;font-family:"Nanum Gothic Coding";
  background-image:url("notepad.png");background-repeat:no-repeat;background-size:1000px 500px;
}


.site-links{
  display:block;position:relative;top:-1620px;
  padding-bottom:5px;font-family:"Press Start 2P";color:black;font-weight:bold;
  background-image:url("bottom.png");background-repeat:no-repeat;
}.copyright{
  padding-left:400px;font-size:18px;padding-top:5px;
}.site-links a{
  visibility:hidden;
}.footer-section{
  position:relative;top:-9000px;
  visibility:hidden;
}




  

  

